body {
  --color-primary: #ffbd59;
  --color-secundary: #756854;
  --color-black: rgba(28, 29, 30, 0.94);
  --color-white: #fff;
  --color-danger: #f00;
  --color-success: #33ad3f;
  --color-text: rgba(28, 29, 30, 0.94);
  --color-text-light: #4f6c7c;

  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  color: var(--color-text);
  font-family: "Krona One", sans-serif;

  button {
    cursor: pointer;
  }
}

.header {
  background-color: var(--color-primary);
  padding: 1.5rem;

  & > .header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & > .left-col {
      & > h3 {
        margin: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      & > .show-amount {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 0.5rem;
        gap: 1rem;

        & > .amount {
          word-wrap: nowrap;
          background-color: var(--color-secundary);
          border-radius: 20px;
          padding: 10px 7px;
          color: var(--color-white);
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-wrap: nowrap;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }

        & > button {
          border: none;
          background-color: transparent;
          width: fit-content;
          height: 100%;
        }
      }
    }
    & > .user-photo {
      background-color: var(--color-white);
      border-radius: 50%;
      border: 2px solid var(--color-secundary);

      & > img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
      }
    }
  }

  & > nav {
    & > ul {
      padding-inline-start: 0;
      display: flex;
      gap: 1.5rem;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin: 2rem 0 0;

      & > li {
        list-style: none;

        & > button,
        & > a {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: flex-start;
          border: none;
          background-color: transparent;
          color: var(--color-text);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-family: "Krona One", sans-serif;
          text-decoration: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.page-home {
  & > .title {
    padding: 14px 24px;
    background-color: var(--color-secundary);

    & > h1 {
      margin: 0;
      color: var(--color-white);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  & > .table-search {
    padding: 18px 24px;

    & > .input-container {
      display: flex;
      width: 100%;
      height: 45.644px;
      border: 1px solid var(----color-text, rgba(28, 29, 30, 0.94));
      border-radius: 8px;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      & > img {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 12px;
      }

      & > input {
        border: none;
        font-family: Krona One;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:focus-visible {
          border: none;
          outline: none;
        }
      }
    }
  }

  & > table {
    width: 100%;
    border-spacing: 0;

    & > tbody > tr {
      &:first-child > td {
        border-top: 1px solid rgba(117, 104, 84, 0.4);
      }

      & > td {
        border-bottom: 1px solid rgba(117, 104, 84, 0.4);
        padding: 8px 12.5px;
        font-size: 14px;
        margin: 0;

        &.success {
          color: var(--color-success);
        }

        &.danger {
          color: var(--color-danger);
        }
      }

      & > td:first-child {
        padding-left: 24px;
      }

      & > td:last-child {
        padding-right: 24px;
        text-align: end;
      }
    }
  }
}

.page-dashboard {
  padding: 2px 24px;
  background-color: var(--color-secundary);
  height: 100vh;
  color: #fff;
  
  font-family: Krona One;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;

  .size_9 {
    width: 100%;
    height: 9%;
  }

  .size_13 {
    width: 100%;
    height: 13%;
    margin-bottom: .5rem;
  }

  & > .row {
    display: flex;
    gap: .5rem;

    & > .box {    
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  & p {
    color: #000;
    font-size: 1rem;
  }

}
